<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link th:href="@{/css/AffichClient.css}" rel="stylesheet">
</head>

<body>
<div class="wrap">
    <h1>Affiche Client</h1>
    <div class="formBox">
        <form action="#" th:action="@{/api/client}" th:object="${client}" >
            Nom :
            <input type="text" th:fields="${client.nom}">
            Prenom :
            <input type="text" th:fields="${client.prenom}">
            <input type="submit" value="Send">
        </form>
    </div>

    <div class="clientBox" th:each="client:${clientList}">
        <p class="nom" th:text="${client.nom}"></p>

    </div>
</div>
</body>
</html>